
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Shaheer Sheeraz @ 
      <% const d = new Date(); %>
      <% const year = d.getFullYear(); %>
      <%= year %>
     </p>
  </div>
</div>
</body>
</html>
