body {
  text-align: center;
  background-color: #011F3F;
  color: #fff;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.info-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-family: 'Press Start 2P', sans-serif;
}

.info-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 80%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  font-family: Arial, sans-serif;
  color: #000;
  text-align: center;
}

.info-popup h2 {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
  color: #000;
  font-weight: bold;
}

.info-popup p {
  margin-bottom: 10px;
  line-height: 1.4;
}

.info-popup ol {
  padding-left: 20px;
  text-align: left;
}

.info-popup li {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 10px;
}

.info-popup li:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #4CAF50;
  border-radius: 50%;
  margin-right: 10px;
}

.info-popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #999;
  cursor: pointer;
}

.info-popup ol {
  padding-left: 0;
}

.info-popup li {
  list-style-type: none;
}

.info-popup li div {
  font-weight: bold;
}

.scores-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-family: 'Press Start 2P', sans-serif;
}
