.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.blog-pagination {
  margin-bottom: 4rem;
}

.blog-post {
  margin-bottom: 4rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

nav > a {
  margin-top: 7px;
}

footer > p {
  margin-top: 25px;
  font-size: 20px;
}

input {
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
  margin-bottom: 15px;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.compose {
  margin-bottom: 15px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%;
}   

textarea {
  margin-bottom: 10px;
}

.postTitle {
  margin: 0%;
}

.postBody {
  margin-top: 25px;
  max-height: 500px; 
  overflow-y: auto;
}

.postFooter {
  margin: 20px 0;
}

.error-message {
  color: red;
  font-size: 14px;
  margin: 0%;
}

.userPosts {
  margin-top: 10px;
}

.register {
  margin-bottom: 10px;
}

.fa {
  margin-right: 10px;
}

.card {
  margin-bottom: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.pb-4 {
  padding-top: 24px;
}