<%- include("partials/header.ejs") %>

    <div class="container mt-5">
        <h2><%= username %></h2>

        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Recent Blog Posts
                </h3>
    
            </div>
        </div>    
    </div>

<%- include("partials/footer.ejs") %>